<header>

    <!-- NAVBAR -->
    <nav b-e1p7xxig5r class="navbar navbar-expand-lg navbar-dark">
        <div b-e1p7xxig5r class="container-fluid">

            <!-- Brand -->
            <a b-e1p7xxig5r class="navbar-brand" href="https://avaloniaui.net/Home/Index.htm">
                <img src="imgs/logo/logo.png" class="navbar-brand-img" alt="Dotnetools Logo">
                Dotnet工具箱
            </a>

            <!-- Toggler -->
            <button b-e1p7xxig5r class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span b-e1p7xxig5r class="navbar-toggler-icon"></span>
            </button>

            <!-- Collapse -->
            <div b-e1p7xxig5r class="navbar-collapse collapse" id="navbarCollapse" style="">

                <!-- Toggler -->
                <button b-e1p7xxig5r class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i b-e1p7xxig5r class="fe fe-x"></i>
                </button>

                <!-- Navigation -->
                <ul b-e1p7xxig5r class="navbar-nav ms-auto">
                    <li b-e1p7xxig5r class="nav-item">
                        <a class="nav-link" href="/">
                            首页
                        </a>
                    </li>

                    <li b-e1p7xxig5r class="nav-item">
                        <a class="nav-link" href="https://dotnet9.com/donation">
                            支持
                        </a>
                    </li>

                    <li b-e1p7xxig5r class="nav-item">
                        <a class="nav-link" href="https://dotnet9.com">
                            博客
                        </a>
                    </li>

                    <!-- Developers -->
                    <li b-e1p7xxig5r class="nav-item dropdown">
                        <a b-e1p7xxig5r class="nav-link dropdown-toggle" id="navbarDocumentation" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            关于
                        </a>

                        <div b-e1p7xxig5r class="dropdown-menu dropdown-menu-md" aria-labelledby="navbarDocumentation">
                            <div b-e1p7xxig5r class="list-group list-group-flush">

                                <!-- Documentation -->
                                <a b-e1p7xxig5r class="list-group-item" href="/docs">
                                    <div b-e1p7xxig5r class="dropdown-link">
                                        <!-- Icon -->
                                        <div b-e1p7xxig5r class="icon-sm">
                                            <svg b-e1p7xxig5r xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40px" height="40px">
                                                <path b-e1p7xxig5r fill="#b6dcfe" d="M19.5,37.5c-1.159,0-2.193-0.657-2.699-1.716L16.665,35.5H2c-0.827,0-1.5-0.673-1.5-1.5v-5.5h38V34 c0,0.827-0.673,1.5-1.5,1.5H22.335l-0.136,0.284C21.693,36.843,20.659,37.5,19.5,37.5z"/><path b-e1p7xxig5r fill="#4788c7" d="M38,29v5c0,0.551-0.449,1-1,1H22.65H22.02l-0.272,0.569C21.326,36.452,20.465,37,19.5,37 s-1.826-0.548-2.248-1.431L16.98,35H16.35H2c-0.551,0-1-0.449-1-1v-5H38 M39,28H0v6c0,1.105,0.895,2,2,2h14.35 c0.563,1.179,1.756,2,3.15,2s2.587-0.821,3.15-2H37c1.105,0,2-0.895,2-2V28L39,28z"/><path b-e1p7xxig5r fill="#fff" d="M19.5,34.5V7c0-1.93,1.57-3.5,3.5-3.5h15.5v29H22c-1.207,0-2.218,0.86-2.45,2H19.5z"/><path b-e1p7xxig5r fill="#4788c7" d="M38,4v28H22c-0.768,0-1.469,0.29-2,0.766V7c0-1.654,1.346-3,3-3H38 M39,3H23c-2.209,0-4,1.791-4,4 v28h1c0-1.105,0.895-2,2-2h17V3L39,3z"/><path b-e1p7xxig5r fill="#fff" d="M19.45,34.5c-0.232-1.14-1.243-2-2.45-2H0.5v-29H16c1.93,0,3.5,1.57,3.5,3.5v27.5H19.45z"/><path b-e1p7xxig5r fill="#4788c7" d="M16,4c1.654,0,3,1.346,3,3v25.766C18.469,32.29,17.768,32,17,32H1V4H16 M16,3H0v30h17 c1.105,0,2,0.895,2,2h1V7C20,4.791,18.209,3,16,3L16,3z"/><path b-e1p7xxig5r fill="#b6dcfe" d="M1 33H17V34H1z"/><path b-e1p7xxig5r fill="#4788c7" d="M29.5 10A1.5 1.5 0 1 0 29.5 13A1.5 1.5 0 1 0 29.5 10Z"/>
                                                <g b-e1p7xxig5r>
                                                    <path b-e1p7xxig5r fill="#4788c7" d="M31 24L31 15 27 15 27 16 28 16 28 24 27 24 27 25 32 25 32 24z"/>
                                                </g>
                                            </svg>
                                        </div>

                                        <!-- Content -->
                                        <div b-e1p7xxig5r class="ms-4">

                                            <!-- Heading -->
                                            <h6 b-e1p7xxig5r class="text-uppercase mb-0">
                                                文档
                                            </h6>

                                            <!-- Text -->
                                            <p b-e1p7xxig5r class="fs-sm text-gray-700 mb-0">
                                                了解Dotnet工具箱
                                            </p>

                                        </div>
                                    </div>
                                </a>

                                <!-- Source Code -->
                                <a b-e1p7xxig5r class="list-group-item" href="https://github.com/dotnet9/dotnetools">
                                    <div b-e1p7xxig5r class="dropdown-link">
                                        <!-- Icon -->
                                        <div b-e1p7xxig5r class="icon-sm">
                                            <svg b-e1p7xxig5r xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40px" height="40px">
                                                <path b-e1p7xxig5r d="m36.167 20c0 8.9286-7.2381 16.167-16.167 16.167s-16.167-7.2381-16.167-16.167 7.2381-16.167 16.167-16.167 16.167 7.2381 16.167 16.167z" fill="#DFF0FE" stroke="#4788C7"/>
                                                <path b-e1p7xxig5r d="m28.333 12.708c0-0.7916-0.0533-1.7633-0.4166-2.7083 0 0-2.3767 0.0167-4.6184 2.14-1.035-0.3017-2.1416-0.4733-3.2983-0.4733s-2.2633 0.1716-3.2983 0.4733c-2.2417-2.1233-4.6184-2.14-4.6184-2.14-0.3616 0.945-0.4166 1.9167-0.4166 2.7083 0 1.1984 0.2133 1.9334 0.3416 2.2967-1.255 1.3933-2.0083 3.1183-2.0083 4.995 0 3.6433 2.7583 5.885 6.6667 6.6667-0.8784 0.7716-1.4167 1.85-1.5884 3.06-0.3716 0.18-0.9116 0.2733-1.5366 0.2733-0.5017 0-1.4767-0.2367-2.385-1.6517-0.3667-0.5733-1.1567-1.6816-2.1984-1.6816-0.20333 0-0.63166-0.0134-0.625 0.3016 0.00334 0.15 0.23334 0.1517 0.725 0.59 0.41167 0.3684 0.795 0.9717 0.94167 1.6084 0.2417 1.045 1.21 3.125 3.5417 3.125 0.8333 0 1.4583-0.2084 1.4583-0.2084v3.8184c1.5783 0.495 3.2583 0.765 5 0.765s3.4217-0.27 5-0.765v-5.485c0-1.4984-0.6233-2.8334-1.6667-3.75 3.9084-0.7817 6.6667-3.0234 6.6667-6.6667 0-1.8433-0.7267-3.5417-1.9433-4.9217 0.105-0.325 0.2766-1.0783 0.2766-2.37z" fill="#4788C7"/>
                                            </svg>
                                        </div>
                                        <!-- Content -->
                                        <div b-e1p7xxig5r class="ms-4">

                                            <!-- Heading -->
                                            <h6 b-e1p7xxig5r class="fw-bold text-uppercase text-primary mb-0">
                                                GitHub项目
                                            </h6>

                                            <!-- Text -->
                                            <p b-e1p7xxig5r class="fs-sm text-gray-700 mb-0">
                                                浏览代码
                                            </p>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>

                <!-- Button -->
                <a b-e1p7xxig5r class="navbar-btn btn btn-sm btn-primary ms-auto" href="/download" target="_blank">
                    下载
                </a>

            </div>

        </div>
    </nav>

</header>