@page
@{
    ViewData["Title"] = "首页";
}

<section class="mt-n11 pt-12 pb-8 pt-md-14 pb-md-11 bg-black">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10 text-center">

                <!-- Headin -->
                <h1 class="display-2 fw-bold mt-8 slogan-title" data-aos="fade-up" data-aos-delay="50">
                    使用<span class="slogan-subtitle"> .NET</span>创建的跨平台工具
                </h1>

                <!-- Text -->
                <p class="lead text-gray-500 mb-6 mx-auto" data-aos="fade-up" data-aos-delay="100"
                   style="max-width: 650px;">


                    Dotnet工具箱
                    <span class="text-teal"
                          data-typed='{"backDelay": 2000, "strings": ["是一个跨平台的工具","是原生客户端","支持所有主流平台","开放源码 \u0026 免费使用"]}'>
                    </span>.

                </p>

            </div>
        </div> <!-- / .row -->
        <!-- Platform Logos -->
        <div class="row justify-content-center">

            <div class="flex flex-wrap platforms-container justify-content-center">

                <!-- Windows Logo -->
                <div data-aos="fade-up" data-aos-delay="160" data-aos-easing="ease">
                    <img data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                         data-bs-original-title="Windows 7 and newer" src="~/imgs/icons/platforms/avalonia_windows.svg"
                         alt="Windows Logo" class="platforms-icon">
                </div>

                <!-- macOS Logo -->
                <div data-aos="fade-up" data-aos-delay="160" data-aos-easing="ease">
                    <img data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                         data-bs-original-title="macOS 10.12 or newer" src="~/imgs/icons/platforms/avalonia_macos.svg"
                         alt="macOS Logo" class="platforms-icon">
                </div>

                <!-- Tux Logo -->
                <div data-aos="fade-up" data-aos-delay="160" data-aos-easing="ease">
                    <img data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                         data-bs-original-title="Desktop & Embedded Linux" src="~/imgs/icons/platforms/avalonia_tux.svg"
                         alt="Linux Tux Logo" class="platforms-icon">
                </div>

                <!-- iOS Logo -->
                <div data-aos="fade-up" data-aos-delay="160" data-aos-easing="ease">
                    <img data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                         data-bs-original-title="iOS 11 and newer" src="~/imgs/icons/platforms/avalonia_ios.svg"
                         alt="iOS Logo" class="platforms-icon">
                </div>

                <!-- Android Logo -->
                <div data-aos="fade-up" data-aos-delay="160" data-aos-easing="ease">
                    <img data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                         data-bs-original-title="Android 4.4 (API 19) macOS 10.12 or newer"
                         src="~/imgs/icons/platforms/avalonia_android.svg" alt="Android Logo" class="platforms-icon">
                </div>

                <!-- WASM Logo -->
                <div data-aos="fade-up" data-aos-delay="160" data-aos-easing="ease">
                    <img data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                         data-bs-original-title="WebAssembly is supported on all modern browser"
                         src="~/imgs/icons/platforms/avalonia_webasm.svg" alt="WASM Logo" class="platforms-icon">
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-10 col-lg-8 text-center" mb-2>
                <div data-aos="fade-up" data-aos-delay="160" data-aos-easing="ease">
                    <h6 class="text-uppercase text-warning">支持的平台</h6>
                </div>
            </div>
        </div>


        <!-- SCREENSHOT -->
        <div class="row mt-8">
            <div class="col-12" data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease">

                <!-- Media -->
                <div class="position-relative pt-7 pb-7 ps-7 mb-7 mb-md-9 rounded-4 shadow-multicolor overflow-hidden">

                    <!-- Background -->
                    <div class="position-absolute top-0 end-0 bottom-0 start-0 bg-gradient-multicolor"></div>

                    <!-- Image -->


                    <img class="position-relative null img-fluid rounded shadow-lg"
                         src="~/imgs/app-dev/icons8/screenshots/lunacy.png" alt="Lunacy app from Icons8"/>

                </div>

            </div>

        </div> <!-- / .row -->
        <!-- TRUSTED BY INDUSTRY LEADERS -->

    </div> <!-- / .container -->
</section>

<!-- CTA -->
<section class="py-10 py-md-14 bg-black">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 text-center">

                <!-- Heading -->
                <h1 class="display-3 fw-bold slogan-title mb-6">
                    工具开心用
                </h1>

                <!-- Heading -->
                <h1 class="display-3 fw-bold mb-8 slogan-subtitle">
                    代码随心读
                </h1>

                <!-- Button -->
                <a href="/download" class="btn btn-primary">
                    下载使用吧 <i class="fe fe-arrow-right ms-2"></i>
                </a>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</section>

<!-- BORDER -->
<div class="bg-black">
    <div class="container border-top border-gray-900-50"></div>
</div>

<!-- SHAPE -->
<div class="position-relative">
    <div class="shape shape-bottom shape-fluid-x text-dark">
        <svg fill="none" viewbox="0 0 2880 48"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path>
        </svg>
    </div>
</div>